﻿@model Repository.ViewModels.FileFormViewModel
@using System.IO

@{
    ViewData["Title"] = "Create";
}

<h2>Upload File</h2>

<form asp-controller="File" asp-action="Create" method="post" enctype="multipart/form-data">    
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" placeholder="ololo" asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="File"></label>
        <input class="form-control" type="file" name="File" asp-for="File" />
        @Html.ValidationMessageFor(m => m.File)
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>    
</form>
