﻿@model IEnumerable<RepositoryFile>

@{
    ViewData["Title"] = "ManageFiles";
}

<h2>ManageFiles</h2>
<h2>@ViewData["asd"]</h2>

<ul>
    @foreach(var file in Model)
    {    
        <li>
            <div class="form-control">
                <label>@file.Name</label>
                <label>@file.Description</label>
                <a asp-action="Download" asp-route-fileId="@file.Id">Download</a>
            </div>
        </li>
    }
</ul>
